<% if @membership %>
  <p>You are subscribed to this Booru.</p>

  <%= form_tag(membership_path, method: :delete) do %>
    <%= submit_tag "Leave" %>
  <% end %>
<% else %>
  <p>You are not subscribed to this Booru.</p>

  <%= form_tag(membership_path) do %>
    <%= submit_tag "Join" %>
  <% end %>
<% end %>