.env.*
.env
.bundle
config/deploy/*.rb
config/application.yml
config/newrelic.yml
db/*.sqlite3
log/*.log
tmp/*
public/data
public/assets
vendor/cache/*.gem
.sass-cache
.DS_Store
coverage
*~
*.swp
tmp/*.jpg
tmp/*.png
danbooru.db
danbooru.sublime-project
danbooru.sublime-workspace
script/scratch.*
test/fixtures/vcr_cassettes
TODO.txt
