<div id="posts">
  <div style="overflow: hidden;">
    <%= post_set.presenter.post_previews_html(self) %>
  </div>

  <% unless @random.present? %>
    <%= numbered_paginator(post_set.posts) %>
  <% end %>
</div>
