a.user-admin.with-style {
  color: red;
}

a.user-moderator.with-style {
  color: orange;
}

a.user-platinum.with-style {
  color: gray;
}

a.user-gold.with-style {
  color: #0000FF;
}

a.user-basic.with-style {
  color: auto;
}
